.home {
  background-color: rgb(16, 3, 27);
  height: auto;
  width: 100%;
  padding: 50px;
  color: azure;
}

.logo {
  font-family: "Ubuntu", sans-serif !important;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bolder;
}

.icon {
  margin-right: 5px;
  font-size: 18px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.info {
  text-align: center;
}

.name {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
.name .nameValue {
  color: rgb(240, 13, 13);
}

.roles {
  font-size: 45px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.details {
  font-size: 25px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.call-to-actions {
  margin-top: 20px;
}
.hireMe {
  height: 70px;
  width: 200px;
  border-radius: 40px;
  color: azure;
  font-weight: bold;
  border: 1px solid transparent;
  background-color: rgb(240, 13, 13);
  margin-right: 10px;
}

.hireMe:hover,
.viewResume:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
  opacity: 0.8;
  color: azure;
}

.viewResume {
  height: 70px;
  width: 200px;
  border-radius: 40px;
  color: azure;
  font-weight: bold;
  border: 1px solid rgb(240, 13, 13);
  background-color: transparent;
}

.photo {
  margin-left: 150px;
  margin: 0 0px 0 100px;
  border-radius: 50%;
  width: 380px;
  height: 380px;
  box-shadow: 0 1px 0px 0px azure;
  display: flex;
  justify-content: center;
}

.photo:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.realImg {
  height: 95%;
  width: 95%;
  background-image: url("../../Images/saheedoladele.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}
